header {
	background-color: #AE4240;
	margin-bottom: 3em;
}

h1 {
	margin: 0;
	font-size: 5em;
}

body {
	background-color: #EEAE4D;
}


.container {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}


.calendar {
	border: 3px solid #5D60AD;
}

.new-day {
	border-top: 1px solid #5D60AD;
}


ol {
	list-style-type: none;
}

li {
	display: inline-block;
}

.event-container {
	display: none;
}

.new-event {
	padding-left: 0;
	margin-bottom: .7em;
}

.event {
	margin-left: 5px;
}

.time {
	float: left;
}


.delete {
	float: right;
	clear: right;
}
.button {
	background-color: #AE4240;
	border-radius: 30px;
}

.create {
	margin-bottom: .5em;
}

.submit-form {
	display: none;
}

.add-event {
	margin-top: 1em;
	margin-right: 41%;
	margin-left: 41%;
}